<ion-navbar *navbar hideBackButton class="show-navbar">
  <ion-title>Project Lists</ion-title>
</ion-navbar>

<ion-toolbar primary>
  <ion-item>
    <ion-input type="text" #project id="project" placeholder="Add Project List Here."></ion-input>
  </ion-item>
</ion-toolbar>

<ion-content>
  <button light large (click)="saveProjectList(project.value)">Add Project</button>
  <ion-list>
	  <ion-item *ngFor="let project of projects">
	    {{project}}
	  </ion-item>
  </ion-list>
</ion-content>
