
<ion-navbar *navbar>
  <ion-title>
    Login
  </ion-title>
</ion-navbar>

<ion-content padding class="login has-header">

	   <ion-list>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input #email type="text" id="email" value="" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input #password type="password" id="password" value=""></ion-input>
      </ion-item>

    </ion-list>

    <div padding>
      <button primary block (click)="login(email.value, password.value)">Sign In</button>
    </div>
 
</ion-content>

